.assets-cnt {
  margin-top: var(--marginFirstElement);
  display: flex;
  gap: var(--marginElement);
}

.assets-filters-cnt {
  width: 15%;
}

.assets-filters-cnt ul {
  position: sticky;
  top: 5rem;
  left: 0px;
  margin-left: 20px;
}

.assets-list-cnt {
  width: 85%;
}

.assets-list-cnt span {
  font-weight: 800;
}

.MuiPaginationItem-root {
  color: var(--main-font-color) !important;
}

.assets-filters {
  display: flex;
  flex-direction: column;
  gap: var(--marginElement);
}

.assets-filters li {
  display: flex;
  flex-direction: column;
  font-size: var(--smallFont);
  font-weight: 800;
}

.assets-reset-filters {
  color: aliceblue;
  background-color: none;
  cursor: pointer;
}

.assets-filter-search-cnt form {
  width: 100%;
}

.assets-select {
  border: 0;
  border-radius: var(--radiusInput);
  padding: 0.6rem;
  margin-top: var(--marginElementLittle);
}

.assets-select option {
  border-radius: 0 !important;
}

.assets-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--marginElement);
  margin-top: var(--marginElementLittle);
}

.assets-select {
  color: var(--main-font-color);
  font-size: var(--smallFont);
  background-color: var(--main-bg-color);
}
