html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--main-bg-color);
  font-family: Verdana, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --main-bg-color: #000000;
  --sec-bg-color: #282828;
  --main-color: #ffda38;
  --main-font-color: #ffffff;
  --sec-font-color: #bdbdbd;

  --bigFont: clamp(3rem, 7.9vw, 9rem);
  --bigFontHeight: clamp(5rem, 12vw, 11rem);
  --mediumFont: clamp(1.8rem, 1.8vw, 2.9rem);
  --smallFont: clamp(0.95rem, 0.7vw, 1.1rem);
  --smallFontHeight: clamp(1.4rem, 1.4vw, 2.7rem);

  --marginFirstElement: 6rem;
  --marginSection: clamp(15rem, 18vw, 24rem);
  --marginLayout: 7vw;
  --marginLayoutBig: 15vw;
  --marginElement: 2rem;
  --marginElementBig: 5rem;
  --marginElementLittle: 1rem;
  --marginElementHome: 4rem;

  --radius: 6px;
  --radiusInput: 4px;

  --marginLayoutMed: 7vw;
  --marginLayoutBigMed: 15vw;
}
@import "./home.css";
@import "./assets.css";
@import "./single-asset.css";

button {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.home-searchbar-suggested {
  display: flex;
}

.big-font {
  font-size: var(--bigFont);
  line-height: var(--bigFontHeight);
}

.medium-font {
  font-size: var(--mediumFont);
}

.small-font {
  font-size: var(--smallFont);
  line-height: var(--smallFontHeight);
}

::placeholder {
  color: var(--sec-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
li,
em,
strong {
  color: var(--main-font-color);
}

.main-color {
  color: var(--main-color);
}

.main-font-color {
  color: var(--main-font-color);
}

.sec-font-color {
  color: var(--sec-font-color);
}

.btn {
  padding: 1rem;
  background-color: var(--main-color);
  width: fit-content;
  color: var(--main-bg-color);
  font-weight: 800;
  border-radius: var(--radius);
}

p {
  color: var(--sec-font-color);
  font-size: var(--smallFont);
  line-height: var(--smallFontHeight);
}

input,
select {
  border: 0;
  border-radius: var(--radiusInput) 0 0 var(--radiusInput);
}

select:focus,
select:active,
select:hover {
  outline: none;
  border: 0px;
}

::-moz-selection {
  color: var(--main-color);
}
::selection {
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--sec-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radiusInput);
  background: var(--main-font-color);
}

.navbar {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0.4rem 3rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.611);
  backdrop-filter: blur(92.7px);
  -webkit-backdrop-filter: blur(12.7px);
}

.navbar .searchbar-cnt {
  width: 18%;
}

.navbar .btn-searchbar {
  padding: 0.4rem 0.6rem;
}

.navbar-social-cnt {
  margin-left: auto;
  display: flex;
}

.navbar-social-cnt img {
  width: 40px;
}

.navbar-ul-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  gap: var(--marginElement);
}

.searchbar-cnt {
  width: 30%;
  display: flex;
}

.searchbar {
  background-color: var(--sec-bg-color);
  color: var(--main-font-color);
  width: 100%;
  padding: 0.6rem;
}

.btn-searchbar {
  cursor: pointer;
  padding: 0.6rem;
  background-color: var(--sec-bg-color);
}

.icon {
  background-color: var(--sec-bg-color);
  padding: 0.6rem;
  border-radius: 2rem;
}

img {
  border-radius: var(--radius);
}

.icon-social {
  padding: 0.6rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  gap: 1.5rem;
  justify-content: flex-end;
  margin-right: 2rem;
}
.nav-menu.active {
  left: 0%;
  transition: all 0.5s ease;
  z-index: 100;
}

.close-menu {
  position: absolute;
  right: 20px;
  font-weight: 800;
  top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: var(--marginElement);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    font-weight: 800;
    gap: 0.5rem;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #000000;
    z-index: 25;
  }

  .search-cnt .searchbar-cnt {
    width: 100%;
  }
}

@import "./query.css";
