.header-home-cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding-top: var(--marginFirstElement);
}

.home-searchbar-suggested {
  margin-top: 1rem;
}

.header-home-cnt h1 {
  margin-bottom: var(--marginElementHome);
}

.header-home-cnt p {
  margin-top: var(--marginElementHome);
  padding: 0 30vw 0 30vw;
}

.label-header-home {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.homepage-assets-cnt {
  margin-top: var(--marginSection);
  display: flex;
  gap: var(--marginLayout);
}

.homepage-assets-img-cnt {
  width: 60%;
  margin-left: var(--marginLayout);
}

.homepage-assets-text-cnt {
  width: 40%;
  margin-right: var(--marginLayoutBig);
}

.homepage-assets-text-cnt p {
  margin-top: var(--marginElement);
}
.homepage-model-cnt {
  margin-top: var(--marginSection);
  display: flex;
  gap: var(--marginLayout);
}

.homepage-model-text-cnt {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: var(--marginLayoutBig);
}

.homepage-model-text-cnt p {
  margin-top: var(--marginElement);
}

.homepage-model-img-cnt {
  width: 60%;
  margin-right: var(--marginLayoutBig);
}

.homepage-model-img img {
  width: 100%;
  height: auto;
}

.assets-img img {
  width: 100%;
  height: auto;
}
