.header-home-cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding-top: var(--marginFirstElement);
}

.home-searchbar-suggested {
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 0.4rem;
}

.header-home-cnt h1 {
  margin-bottom: var(--marginElementHome);
}

.header-home-cnt p {
  margin-top: var(--marginElementHome);
  padding: 0 30vw;
}

.label-header-home {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.homepage-assets-cnt {
  margin-top: var(--marginSection);
  display: flex;
  gap: var(--marginLayout);
}

.homepage-assets-cnt .btn {
  margin-top: var(--marginElement);
}

.homepage-assets-img-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: var(--marginLayout);
}

.homepage-assets-text-cnt {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: var(--marginLayoutBig);
}

.homepage-assets-text-cnt p {
  margin-top: var(--marginElement);
}

.assets-img img {
  width: 100%;
  height: auto;
}

.homepage-assets-ul-cnt {
  margin-top: var(--marginElement);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--marginElementLittle);
}

.homepage-assets-ul-cnt li {
  display: flex;
  align-items: center;
  gap: var(--marginElementLittle);
}

.homepage-model-cnt {
  margin-top: var(--marginSection);
  display: flex;
  gap: var(--marginLayout);
}

.home-searchbar-suggested a {
  color: var(--sec-font-color);
}

.homepage-model-cnt .btn {
  margin-top: var(--marginElement);
}

.homepage-model-text-cnt {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: var(--marginLayoutBig);
}

.homepage-model-text-cnt p {
  margin-top: var(--marginElement);
}

.homepage-model-img-cnt {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: var(--marginLayoutBig);
}

.homepage-model-img-cnt picture {
  display: flex;
  justify-content: flex-end;
}

.homepage-model-img-cnt img {
  width: 100%;
  height: auto;
}
.homepage-texture-cnt {
  margin-top: var(--marginSection);
  display: flex;
  gap: var(--marginLayout);
}

.homepage-texture-cnt .btn {
  margin-top: var(--marginElement);
}

.homepage-texture-text-cnt {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: var(--marginLayoutBig);
}

.homepage-texture-text-cnt p {
  margin-top: var(--marginElement);
}

.homepage-texture-img-cnt {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: var(--marginLayoutBig);
}

.homepage-texture-img-cnt picture {
  display: flex;
  justify-content: flex-end;
}

.homepage-texture-img-cnt img {
  width: 100%;
  height: auto;
}

.home-free-3d-models-cnt {
  position: relative;
  margin-top: var(--marginSection);
}

.home-free-3d-models-cnt .btn {
  margin-top: var(--marginElement);
}

.home-img-full {
  width: 100%;
  height: auto;
}

.home-img-full img {
  width: 100%;
  height: auto;
}

.home-free-3d-models-text-cnt {
  position: absolute;
  left: var(--marginLayout);
  top: 33%;
  width: 30%;
}

.home-free-3d-models-text-cnt p {
  margin-top: var(--marginElement);
}

.home-myself-text-cnt h2 {
  margin-bottom: var(--marginElement);
}

.home-myself-cnt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--marginLayout);
  margin-top: var(--marginSection);
}

.home-myself-cnt .btn {
  margin-top: var(--marginElement);
}

.home-myself-img-cnt {
  margin-left: var(--marginLayout);
}

.home-myself-img img {
  width: 80%;
  height: auto;
}

.home-myself-text-cnt {
  margin-right: var(--marginLayoutBig);
}

.homepage-myself-ul-cnt {
  margin-top: var(--marginElement);
  display: flex;
  gap: var(--marginElementLittle);
}
