@media screen and (max-width: 1200px) {
  .home-free-3d-models-text-cnt {
    top: 10%;
    width: 50%;
  }

  .header-home-cnt {
    justify-content: center;
    padding-top: 0;
  }

  .header-home-cnt p {
    padding: 0 20vw;
  }

  .search-cnt-mobile {
    margin-top: var(--marginElement);
  }

  .homepage-assets-text-cnt,
  .homepage-model-img-cnt,
  .homepage-texture-text-cnt {
    margin-right: var(--marginLayout);
  }

  .homepage-model-text-cnt,
  .homepage-texture-img-cnt {
    margin-left: var(--marginLayout);
  }

  .home-myself-cnt {
    gap: 0;
  }

  .home-myself-text-cnt {
    margin-right: var(--marginLayout);
  }
}

@media screen and (max-width: 800px) {
  .header-home-cnt .searchbar-cnt {
    width: 50%;
  }

  .home-img-full {
    display: none !important;
  }

  .home-searchbar-suggested {
    margin-top: 2rem;
    gap: 1.2rem;
  }
  .homepage-assets-cnt,
  .homepage-model-cnt,
  .homepage-texture-cnt,
  .home-myself-cnt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homepage-assets-img-cnt,
  .homepage-assets-text-cnt,
  .homepage-model-img-cnt,
  .homepage-texture-text-cnt,
  .homepage-model-text-cnt,
  .homepage-texture-img-cnt,
  .home-myself-text-cnt {
    margin: 0;
    width: 80%;
    text-align: center;
    align-items: center;
  }

  .header-home-cnt p {
    padding: 0;
    width: 80%;
  }

  .homepage-model-cnt {
    flex-direction: column-reverse;
  }

  .home-free-3d-models-cnt {
    display: none;
  }

  .homepage-assets-ul-cnt {
    align-items: center;
  }

  .homepage-assets-img-cnt,
  .homepage-model-img-cnt,
  .homepage-texture-img-cnt {
    width: 90%;
  }

  .home-myself-text-cnt {
    margin-top: var(--marginLayout);
  }

  .home-myself-img-cnt {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .home-myself-img-cnt picture {
    display: flex;
    justify-content: center;
  }

  .homepage-myself-ul-cnt {
    justify-content: center;
  }

  .assets-list-cnt {
    width: 70%;
    padding-right: var(--marginElement);
  }

  .assets-filters-cnt {
    width: 50%;
  }

  .assets-list {
    justify-content: flex-end;
  }

  .single-asset-cnt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-asset-img-cnt {
    width: 90%;
    padding-left: 0;
  }

  .single-asset-info-cnt {
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .single-asset-info {
    padding-right: 0;
  }

  .sponsor-cnt {
    padding-right: 0;
  }
}

@media screen and (max-width: 430px) {
  .home-searchbar-suggested {
    justify-content: center;
    padding: 0 var(--marginElement);
  }

  .header-home-cnt {
    padding-top: var(--marginElementBig);
  }

  .header-home-cnt .searchbar-cnt {
    width: 80%;
  }

  .assets-cnt {
    gap: var(--marginLayoutBig);
    flex-direction: column;
  }

  .assets-filters-cnt {
    width: 100%;
  }

  .assets-list-cnt {
    width: 100%;
    padding: 0;
  }

  .assets-list-cnt span:first-child {
    padding-left: 1rem;
  }

  .single-asset-cnt {
    gap: var(--marginLayoutBig);
  }
  .assets-filters-cnt ul {
    margin-right: 20px;
  }

  .assets-list {
    justify-content: center;
  }
}
